# Ignore common Python build/cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Word documents
*.docx

# Ignore PDFs
*.pdf
